
.body {
  background-color: black;
  font-family: 'Roboto', sans-serif;
}

.page {
  text-align: center;
}

.sw_logo {
  width: 200px;
  margin-top: 100px;
  margin-bottom: 60px;
}

h5 {
  color: white;
  margin-top: 30px;
  font-size: 14px;
}

.result {
  color: gold;
  font-size: 12px;
}

ul.nobull {
  list-style-type: none;
  padding: 0px;
}

.mbtn {
  /* position: absolute; */
  cursor: pointer;
  margin-bottom: 20px;
  background-color: #eeee00;
  border: 1px solid gold;
  border-radius: 4px;
  box-shadow: 0px 8px 0px 0px gold;
  padding: 8px;
  color: black;
  font-size: 14px;

  position: relative;
  /* transition: all ease 0.1s; */
}

.mbtn:hover {
  background-color: yellow;
  box-shadow: 0px 6px 0px 0px gold;
  bottom: -4px;
}

.mbtn:focus {
  outline: 0;
}

.mbtn.active {
  color: gold;
  box-shadow: 0px 2px 0px 0px gold;
  bottom: -6px;
  background-color: yellow;
}

.mbtn .fa {
  margin: 8px;
  font-size: 16px;
}
